<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMGenkARMPPlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AMGenkARMPPlan.Properties.Settings>
            <setting name="AMGenkResourcesDirectory" serializeAs="String">
                <value>G:\Onderhoud\PLANNING\AANWEZIGHEDEN</value>
            </setting>
            <setting name="AMGenkResourcesFile" serializeAs="String">
                <value>Aanwezigheden </value>
            </setting>
            <setting name="ARMPTasksDirectory" serializeAs="String">
                <value>G:\Onderhoud\PLANNING\DOWNLOADSAP</value>
            </setting>
            <setting name="ARMPTasksFile" serializeAs="String">
                <value />
            </setting>
        </AMGenkARMPPlan.Properties.Settings>
    </userSettings>
</configuration>